<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ventas Realizadas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <%- include('partials/navbar') %>
    
    <div class="container mt-5">
        <h2 class="mb-4">Ventas Realizadas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Venta</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Forma de Pago</th>
                    <th>Total</th>
                    <th>Anticipo</th>
                    <th>Descuento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                    <% venta.forEach(venta => {  %>
                        <tr>
                            <td><%= venta.IdVenta %></td>
                            <td><%= venta.Fecha %></td>
                            <td><%= venta.ClienteNombre %></td>
                            <td><%= venta.FormaPago %></td>
                            <td><%= venta.Total %></td>
                            <td><%= venta.Anticipo %></td>
                            <td><%= venta.Descuento %></td>
                            <td>
                                <!-- Botón factura de mi cliente -->
                                <a href="/generarFactura/<%= venta.IdVenta %>" class="btn btn-outline-primary btn-sm">Generar Factura</a>
                            </td>
                        </tr>
                    <% }) %>
           
            </tbody>
        </table>
    </div>

</body>
</html>
